In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import get_dummies
from skmultilearn.problem_transform import LabelPowerset
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score

In [65]:
df_train = pd.read_csv(filepath_or_buffer='train.txt', sep = ';', names=['text','sentiment'])
df_test = pd.read_csv(filepath_or_buffer='test.txt', sep = ';', names=['text','sentiment'])
df_valid = pd.read_csv(filepath_or_buffer='val.txt', sep = ';', names=['text','sentiment'])

In [66]:
#Cleantext -- not necessary here
def cleaning(text):
    clean = ''.join(u for u in text if u not in (',','!','.','?',':',';','"','-','\''))
    return clean

df_train['text'] = df_train['text'].apply(cleaning)
df_test['text'] = df_test['text'].apply(cleaning)

In [67]:
def separation(data):
    y = data['sentiment']
    x = data['text']
    return x,y

x_train, y_train = separation(df_train)
x_test, y_test = separation(df_test)
x_val, y_val = separation(df_valid)

#Text to numbers

y_train = get_dummies(y_train)
y_test = get_dummies(y_test)
y_val = get_dummies(y_val)

In [68]:
modelcv = CountVectorizer(stop_words='english')

x_train = modelcv.fit_transform(x_train)
x_test = modelcv.transform(x_test)

tokens = modelcv.get_feature_names()

df1 = pd.DataFrame(data=x_train.toarray(), columns=tokens)

In [69]:


y_test

      anger  fear  joy  love  sadness  surprise
0         0     0    0     0        1         0
1         0     0    0     0        1         0
2         0     0    0     0        1         0
3         0     0    1     0        0         0
4         0     0    0     0        1         0
...     ...   ...  ...   ...      ...       ...
1995      1     0    0     0        0         0
1996      1     0    0     0        0         0
1997      0     0    1     0        0         0
1998      0     0    1     0        0         0
1999      0     1    0     0        0         0

[2000 rows x 6 columns]

In [70]:
#x_train = np.array(x_train)
#y_train = np.array(y_train)

In [71]:
#model = LabelPowerset(LogisticRegression(max_iter=160000))
#model.fit(x_train, y_train)

In [72]:
predict = model.predict(x_test)

print(accuracy_score(y_test, predict)*100)

88.44999999999999

In [73]:
y_test

      anger  fear  joy  love  sadness  surprise
0         0     0    0     0        1         0
1         0     0    0     0        1         0
2         0     0    0     0        1         0
3         0     0    1     0        0         0
4         0     0    0     0        1         0
...     ...   ...  ...   ...      ...       ...
1995      1     0    0     0        0         0
1996      1     0    0     0        0         0
1997      0     0    1     0        0         0
1998      0     0    1     0        0         0
1999      0     1    0     0        0         0

[2000 rows x 6 columns]

In [75]:
#Save Model

import pickle 
pickle_out = open('classifier.pkl', mode = 'wb')
pickle.dump(model, pickle_out)
pickle_out.close()